.header {
  background-color: #0F6CC8;
  padding: 10px 0;
  min-width: 1200px;

  .search-box {
    background-color: #0F6CC8;
    border: none;
    border-radius: 0;
    border-bottom: 3px solid #ffffff82;
    padding-left: 0;
    color: #FFFFFF;

    &:focus {
      background-color: #0F6CC8;
      color: #FFFFFF;
    }

    &::placeholder {
      color: #FFFFFF;
      font-weight: bold;
    }
  }

  .second-row {
    padding: 15px 0;

    .filter-box-wrapper {
      position: relative;

      .filter-box {
        width: 100%;
        height: 40px;
        background-color: #FFFFFF;
        display: flex;
        align-items: center;
        padding-left: 16px;
        color: rgba(0, 0, 0, 0.3);
        cursor: pointer;
      }
    }
  }
}